#home {
    height: 820px;
}

#home::before {
    height: 340px;
}

.heading {
    font-size: 1.7rem;
}

#pic img {
    width: 100px;
    height: 75px;
}

#in h2 {
    font-size: 1.5rem;
}

.fotos img {
    width: 50px;
    height: 100px;
    margin: 10px;
}

.input {
    width: 80%;
}

#msg {
    width: 70%;
}

#send {
    width: 20%;
}